{% extends 'layout.html' %}

{% block title %}
    Monthly Fees
{% endblock %}

{% block content %}
    <div class="xl:px-96 md:px-56 px-16 pt-10">
        <form action="{% url 'expenses:monthly-fees' %}" method="post">
            {% csrf_token %}
            <div class="space-y-12">
                <div class="border-b border-gray-900/10 pb-12">
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-1">
                            <label for="month" class="block text-sm font-medium leading-6 text-gray-900">Month</label>
                            <div class="mt-2">
                                <select id="month" name="month" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                                    {% for num, month in months.items %}
                                        <option value="{{ num }}" {% if num == cur_month %}selected{% endif %}>
                                        {{ month }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="sm:col-span-1">
                            <label for="year" class="block text-sm font-medium leading-6 text-gray-900">Year</label>
                            <div class="mt-2">
                                <select id="year" name="year" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                                    {% for year in year_range %}
                                        <option value="{{ year }}" {% if year == cur_year %}selected{% endif %}>
                                        {{ year }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-b border-gray-900/10 pb-12">
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        {% for monthly_fee in monthly_fee_list %}
                            <div class="sm:col-span-2">
                            </div>
                            <div class="mt-1.5 sm:col-span-1">
                                <div class="flex h-6 items-center">
                                    <input name="{{ monthly_fee.title }}" name="comments" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" checked>
                                    <label for="{{ monthly_fee.title }}" class="pl-2 font-medium text-gray-900">{{ monthly_fee.title }}</label>
                                </div>
                            </div>
                            <div class="sm:col-span-1">
                                <div class="pl-5">
                                    <input type="number" name="amount_{{ monthly_fee.title }}" value="{{ monthly_fee.amount|floatformat:2 }}" autocomplete="address-level2" class="text-right block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" />
                                </div>
                            </div>
                            <div class="sm:col-span-1">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-2">
                        </div>
                        <div class="sm:col-span-2">
                            <div class="flex h-6 items-center">
                                <button type="submit" name="action" value="save" class="w-full rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                        </div>
                    </div>
                </div>
                <div class="border-b border-gray-900/10 pb-12">
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-2">
                            <label for="new_title" class="block text-sm font-medium leading-6 text-gray-900">Title</label>
                            <div class="mt-2">
                                <input type="text" name="new_title" class="text-left block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" />
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <label for="new_amount" class="block text-sm font-medium leading-6 text-gray-900">Amount</label>
                            <div class="mt-2">
                                <input type="number" name="new_amount" class="text-right block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" />
                            </div>
                        </div>
                        <div class="mt-9 sm:col-span-2">
                            <div class="flex h-6 items-center">
                                <button type="submit" name="action" value="add" class="w-full rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}