<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
      {% block title %}
        GG Digital Printing
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav>
        <a href="/">
            <span role="img" aria-label="Home" title="Home">🏠</span>
        </a> |
        <a href="/products/prices">
            <span role="img" aria-label="Prices" title="prices">Prices</span>
        </a> |
        <a href="/products/product_information">
            <span role="img" aria-label="Product Information" title="product_information">Product Information</span>
        </a> |
        <a href="/orders/insert-products">
            <span role="img" aria-label="Insert Products" title="insert_products">Insert Products</span>
        </a> |
        <a href="/orders/add-order">
            <span role="img" aria-label="Add Order" title="add_order">Add Order</span>
        </a>
  </nav>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>